.hide_element {
    display: none;
}

.text_break {
    word-break: break-word;
}

span.email_title,
span.email_status {
    display: block;
}

span.email_status {
    font-size: 16px;
}

div.dataTables_length,
div.subject_filter {
    text-align: right;
}

@media (max-width: 767px){

    div.dataTables_length,
    div.subject_filter {
        text-align: center;
    }

}